
html {
  font-family: "Proxima Nova",Arial, Helvetica, sans-serif, Arial;
}

main hr{
  border: none;
  height: 2px;
  background-color: #000;
  margin: 20px;
}
header {
  background-color: #000;
  color: #fff;
  text-align: center;
}

footer{
  padding: 40px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p{
  padding-left: 20px;
  font-size: smaller;
  color: white;
}
footer div{
  margin-left: 10px;
}


.head_1 h1{
  padding-top: 40px;
  font-size: 36px;
  letter-spacing: 5px;
}

.head_1 h6{
  font-size: 16px;
  font-family: "roboto";
  font-style: italic;
  letter-spacing: 5px;
  margin-top:5px;

}

#searchbar {
  margin-top: 20px;
  margin-right: -50%;
  padding-bottom: 30px;
}

#searchvalue {
  padding: 10px;
  border: none;
  border-radius: 20px;
}

#searchbutton {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
}
#searchbutton:hover{
  background-color: rgb(204, 196, 196);
}

main{
  padding-top:10px;
  text-align: center;
  margin: 0 auto ;
}

table{
  margin: 0 auto;
  padding-bottom: 30px;
}

td img{
  display: flex;
  max-height: 250px;
  border-radius: 10px;
}
td{
  padding: 30px;
}

.labelkonser {
  display: block;
  text-align: left;
  padding-left: 5%;
  font-size: 15px;
  color: grey;
}
.labelkonser span{
  font-style: italic;
  font-weight: bold;
  color: lightcoral;
  padding-left: 70px;
}

.labelkonser2{
  display: block;
  text-align: left;
  font-size:20px;
  padding-left: 5%; 
  font-weight:bold;
}

.detailkonser{
  display: block;
  margin-top: 15px;
  margin-left :5%; 
  border: solid maroon 2px;
  background-color: #fff;
  color: maroon;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.detailkonser:hover{
  background-color: maroon;
  color: #fff;
}
