html {
    font-family: "Proxima Nova",Arial, Helvetica, sans-serif, Arial;
  }


  header {
    background-color: #000;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5PX;
    border-bottom-right-radius: 5PX;
    box-shadow: 0 2px 5px grey;
  }
  
  footer{
    padding: 40px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer p{
    padding-left: 20px;
    font-size: smaller;
    color: white;
  }
  footer div{
    margin-left: 10px;
  }
  
  .head_1 h1{
      text-shadow: 4px 4px 1px  #A52A2A;
      color: #fff;
      padding-top: 40px;
      font-size: 36px;
      letter-spacing: 5px;
      transition: 0.2s;
    }
  .head_1 h1:hover{
      color: #A52A2A;
      text-shadow: 4px 4px 1px #fff;
      transition: 0.2s;
    }
  
  .head_1 h6{
    font-size: 16px;
    font-family: "roboto";
    font-style: italic;
    letter-spacing: 5px;
    margin-top:5px;
  
  }
  
  #searchbar {
    padding: 20px 0 30px;
    text-align: center; 
  }
  
  #searchvalue {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    border: none;
    outline: none;
    width: 80%; 
    max-width: 300px; 
    margin-bottom: 10px;
  }
  
  
  #searchbutton {
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
  }
  #searchbutton:hover{
    background-color: #A52A2A;
    color: white;
  }
  
  .fab{
    font-size: 35px;
    padding-left: 10px;
    color: #fff;
    text-shadow: 3px 3px 3px #A52A2A;
    text-align: center;
  }
  
  .fab:hover{
    color: #A52A2A;
    text-shadow: 2px 2px 10px #fff;
  }
  
  .fab{
    font-size: 35px;
    padding-left: 10px;
    color: #fff;
    text-shadow: 3px 3px 3px #A52A2A;
    text-align: center;
  }
  
  .fab:hover{
    color: #A52A2A;
    text-shadow: 2px 2px 10px #fff;
  }
  a{text-decoration: none;}

  /*BATAS HEADER DAN FOOTER*/

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0 auto;
  }
  
  #table_1 {
    margin: 0 auto;
    width: 80%;
  }
  
  #table_1 td {
    padding: 60px;
    vertical-align: top;
  }
  
  #table_1 td img {
    max-height: 350px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #A52A2A;
  }
  
  .judulkonser {
    font-weight: bolder;
    font-size: 50px;
    color: #A52A2A;
    text-shadow: 0 2px 4px grey;
  }
  
  .tglkonser {
    font-size: large;
    font-weight: bolder;
    color: grey;
  }
  
  .tglkonser #wktkonser {
    padding-left: 27px;
  }
  
  .hargatiket {
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    color: lightcoral;
  }
  
  .tempatkonser {
    font-size: 20px;
    color: grey;
    font-weight: bold;
  }
  
  #desKonser p {
    text-indent: 20px;
    margin: 0 10% 0 10%;
    text-align: justify;
    font-size: large;
    padding-bottom: 40px;
  }
  
  #table_2 {
    margin: 0 10% 0 10%;
    width: 80%;
    text-align: justify;
  }
  
  #table_2 h3 {
    color: #A52A2A;
    font-size: 25px;
    font-weight: bolder;
  }
  
  #table_2 td {
    width: 50%;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: top;
  }
  
  #table_2 td:first-child {
    border-right: 3px solid #A52A2A;
  }
  
  ul li,
  ol li {
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: justify;
  }
  
  ol li {
    font-weight: bold;
  }
  
  #poinlist {
    font-weight: bold;
    font-size: large;
  }
  

  .ticket {
    border-collapse: collapse;
  left: 100px;
  width: 50%;
  margin: 50px;
}
.ticket td{
  border: none;
  padding: 10px;
  width: 60%;
}

.ticket img{
  border:solid 2px #A52A2A;
  width: 100%;
  
}

.ticket td:nth-child(2) h2 {
  color: #A52A2A;
  font-weight: bolder;

}

.ticket td:nth-child(2) p{
  color: lightcoral;
  font-weight: bolder;
  font-style: italic;
}

.ticket td:nth-child(2) #stok
{
  font-style: normal;
  color: gray;
  font-weight: bolder;
}

.ticket tr{
  background-color: lightgray;
  transition: 1s ease;
}
.ticket tr:hover{
  transform:scale(1.3);
}

